body {
	font-family: 'Raleway', sans-serif;
}
#main {
	max-width: 95%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #f1f1f1;
	text-align: center;
	border-radius: 1%;
}

header h2 {
	padding-top: 2%;
}

img {
	max-width: 80%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	padding-bottom: 2%;
}

#img-div {
	max-width: 98%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	background-color: white;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 1%;
}

#img-caption {
	padding-bottom: 2%;
}

article {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

article h3 {
	padding-top: 2%;
	text-align: center;
}

footer {
	text-align: center;
}